.main-container {
  text-align: center;
  border: 2px solid #007BFF;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  background-color: #f2f2f2;
}

.search-container {
  margin: 10px 0;
}

.search-container input {
  padding: 5px;
}

.search-container button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.search-history {
  margin-top: 10px;
}

.search-history span {
  font-weight: bold;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #333;
  padding: 10px;
  cursor: pointer;
}

th {
  background-color: #007BFF;
  color: white;
}

th:hover {
  background-color: #0056b3;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ccc;
}

.vibrant-color-1 {
  background-color: violet;
}

.vibrant-color-2 {
  background-color: orange;
}

.vibrant-color-3 {
  background-color: green;
}
.vibrant-color-4 {
  background-color: yellow; /* Choose your preferred color */
}

.vibrant-color-5 {
  background-color: pink; /* Choose your preferred color */
}

.vibrant-color-6 {
  background-color: lightblue; /* Choose your preferred color */
}